/* Styles for the hero section */
.hero {
    background: url(../../images/banner/banner.jpg)no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}
.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4px;
}
.hero-content {
    color: #ffffff;
    max-width: 388px;
    text-align: center;
}

.hero-content .hero-title {
    font-size: 1.85rem;
    margin: 0 0 0.5rem;
    font-weight: 400;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}