/* Styles for the product category */
.categories {
    background-color: aquamarine;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category-card {
    position: relative;
    height: 500px;
    width: 317px;
    border-radius: 15px;
    overflow: hidden; /*esconde qualquer item que esteja pra fora do container. Como o overlay (bordas)*/
}

.overlay {
    position:absolute;
    inset: 0; /*faz com que ocupe toda a área do cartão*/
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.category-name {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    text-align: center;
}

.casual {
    background: url(../../images/products/tênis\ casual.jpg) no-repeat center;
    background-size: cover;
}

.esporte {
    background: url(../../images/products/tênis\ esportivo.jpg) no-repeat center;
    background-size: cover;
}

.moderno {
    background: url(../../images/products/tênis\ moderno.jpg) no-repeat center;
    background-size: cover;
}

.futurista {
    background: url(../../images/products/tênis\ futurista.jpg) no-repeat center;
    background-size: cover;
}